@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Films Storage</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modern")
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            @*<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Films Storage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>*@
            <div class="navbar-collapse">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item me-2 mb-2">@Html.ActionLink("My Profile", "Index", "Account", null, new { @class = "btn btn-info" }) </li>
                        <li class="nav-item me-2 mb-2">@Html.ActionLink("Upload", "Add", "Files", null, new { @class = "btn btn-warning" }) </li>
                        <li class="nav-item me-2 mb-2">@Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "btn btn-danger" }) </li>

                    }
                    else
                    {
                        <li class="nav-item me-2 mb-2">@Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-info" }) </li>
                        <li class="nav-item me-2 mb-2">@Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-success" }) </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Films Storage</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/js")
</body>
</html>