@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @FilmsStorage.Resources.Layouts._Layout.ApplicationName </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modern")
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="navbar-collapse">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item me-2 mb-2">@Html.ActionLink(FilmsStorage.Resources.Layouts._Layout.NavHome, "Index", "Home", null, new { @class = "btn btn-success" }) </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item me-2 mb-2">@Html.ActionLink(FilmsStorage.Resources.Layouts._Layout.NavMyProfile, "Index", "Account", null, new { @class = "btn btn-info" }) </li>
                        <li class="nav-item me-2 mb-2">@Html.ActionLink(FilmsStorage.Resources.Layouts._Layout.NavLogout, "Logout", "Account", null, new { @class = "btn btn-danger" }) </li>
                    }
                    else
                    {
                        <li class="nav-item me-2 mb-2">@Html.ActionLink(FilmsStorage.Resources.Layouts._Layout.NavRegister, "Register", "Account", null, new { @class = "btn btn-info" }) </li>
                        <li class="nav-item me-2 mb-2">@Html.ActionLink(FilmsStorage.Resources.Layouts._Layout.NavLogin, "Login", "Account", null, new { @class = "btn btn-success" }) </li>
                    }
                    <li class="nav-item me-1 mb-2">@Html.ActionLink("EN", "", new { lang = "en" }, new { @class = "btn btn-light" })</li>
                    <li class="nav-item mb-2">@Html.ActionLink("UA", "", new { lang = "uk" }, new { @class = "btn btn-light" })</li>
                </ul>
            </div>
        </div>
    </nav>

    @Scripts.Render("~/bundles/js")

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @FilmsStorage.Resources.Layouts._Layout.ApplicationName</p>
        </footer>
    </div>

    @RenderSection("customScripts", required: false)
</body>
</html>